@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  background-color: #69ACFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.typo {
  border-right: solid 4px #fff;
  font-size: 50px;
  text-transform: uppercase;
  position: relative;
  height: 50px;
  line-height: 50px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
  
  &::after {
    content: '';
    position: absolute;
    right: -12px;
    width: 20px;
    border-top: solid 4px white;
    border-bottom: solid 4px white;
    top: 0;
    bottom: 0;
  }
  
  &::before {
    animation: type 10s linear infinite;
    border-radius: 10px;
    display: inline-block;
    padding: 0 10px;
    content: '';
  }
}

$word: w e b d e v e l o p m e n t '#' '#' j a v a s c r i p t '#' '#' C S S '#' '#' u x ' ' d e s i g n '#' '#';
@keyframes type {
  $start: 1;
  @for $i from 1 through length($word) {
    $background: rgba(0, 0, 0, 0);
    $letter: nth($word, $i);
    $previousLetter: '';
    
    @if ($i > 1) {
      $previousLetter: nth($word, $i - 1);      
    }
    
    @if ($letter == '#' and $previousLetter == '#') {
      $letter: '';
      $start: $i + 1;
    } @else {
      $stop: $i;
      @if ($letter == '#') {
        $stop: $stop - 1;
        $background: rgba(255, 255, 255, .2);
      }
      $letter: '';
      @for $j from $start through $stop {
        $letter: $letter + nth($word, $j);
      }
    }
    
    $pos: $i / length($word) * 100%;
    #{$pos} {
      background: $background;
      content: '#{$letter}';
    }
  }
}
